body {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: #c4ebfa;
    color: #fafafa;
    font-size: 2em;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04bfb1;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33c361;
    margin-top: 10px;
    margin-bottom: 10px;
}

div {
    display: flex;
}

div aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    background-color: #6edb6e;
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    width: 100%;
    margin-left: 10px;
}

section .content {
    display: flex;
    background-color: #0f98c6;
    margin-top: 10px;
    margin-bottom: 10px;
}

section article{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005b92;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04bfb1;
    margin-top: 10px;
}

.content div {
    display: flex;
    width: 93%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content img {
    width: 100%;
    height: auto;
}

.content p {
    font-size: 15px;
}

.images {
    width: 100px;
    height: 59px;
    border-color: #fafafa;
    border-style: solid;
    border-radius: 5px;
}

div > .texts {
    
}

.content {
    width: 100%;
}