body {
  background-color: #c4ebfa;
  color: #fafafa;
}

/* reset user agent styles */
p {
  margin: 0;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.main-header {
  background-color: #04bfb1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-nav {
  background-color: #33c361;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-container {
  display: flex;
  margin-bottom: 10px;
}
  .main-aside {
    display: flex;
    background-color: #6edb6e;
    margin-right: 10px;
    align-items: center;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
    .content {
      display: flex;
      flex-wrap: wrap;
      background-color: #0f98c6;
      margin-bottom: 10px;
      
    }

      .item {
        margin: 15px;
      }

        .images {
          width: 265px;
          height: 200px;
        }

        .images > img {
          width: 265px;
          height: 184px;
        }

        .text {
          text-align: center;
        }

.section {
  background-color:  #005b92;;
}

.main-footer {
  background-color: #04bfb1;
}